<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>board create</title>
</head>
<body>
    <h1>board create page</h1>
    <hr>

    <form action="/board/create" method="post" name="boardForm">
        <input type="text" name="title" placeholder="title">
        <textarea name="content"></textarea>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>
