<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>join page</title>
</head>
<body>
    <h1>join page</h1>
    <hr>

    <form action="/user/join" method="post" name="joinForm">
        <input type="text" name="username" placeholder="username"/>
        <input type="password" name="password" placeholder="password"/>
        <input type="text" name="nickname" placeholder="nickname"/>
        <input type="submit" value="Join"/>
    </form>
</body>
</html>
