<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>board list</title>
</head>
<body>
    <h1>board list</h1>
    <hr>

    {{#BOARDLIST}}
        <a href="/board/read/{{id}}">{{title}}</a><br>
    {{/BOARDLIST}}
</body>
</html>
